@page "/card_calendar"

<div class="column-layout card-calendar-container">
    <div class="row-layout group">
        <IgbCard class="card-10" card_calendar-scope>
            <IgbCardHeader>
                <div slot="thumbnail">
                    <IgbAvatar Shape="AvatarShape.Circle" class="avatar" card_calendar-scope>
                        <span class="material-icons">
                            people
                        </span>
                    </IgbAvatar>
                </div>
                <h3 slot="title">
                    Title goes here...
                </h3>
                <h5 slot="subtitle">
                    Subtitle goes here...
                </h5>
            </IgbCardHeader>
            <IgbCardActions class="actions-content" card_calendar-scope>
                <IgbButton Variant="ButtonVariant.Flat" slot="start" class="button" card_calendar-scope>
                    Button
                    <IgbRipple></IgbRipple>
                </IgbButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat" class="icon-button" card_calendar-scope>
                    <span class="material-icons">
                        adb
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat" class="icon-button" card_calendar-scope>
                    <span class="material-icons">
                        bookmark
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat" class="icon-button" card_calendar-scope>
                    <span class="material-icons">
                        share
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
            </IgbCardActions>
        </IgbCard>
        <IgbCard Outlined="false" class="card-10" card_calendar-scope>
            <IgbCardHeader>
                <h3 slot="title">
                    Rozes
                </h3>
                <h5 slot="subtitle">
                    Under the grave (2016)
                </h5>
            </IgbCardHeader>
            <IgbCardMedia class="media-content" card_calendar-scope>
                <img src="https://www.infragistics.com/angular-demos/assets/images/card/media/ROZES-Under-the-Grave.jpg" class="image" />
            </IgbCardMedia>
            <IgbCardActions class="actions-content" card_calendar-scope>
                <IgbIconButton slot="start" Variant="IconButtonVariant.Flat" class="icon-button" card_calendar-scope>
                    <span class="material-icons">
                        favorite
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="start" Variant="IconButtonVariant.Flat" class="icon-button" card_calendar-scope>
                    <span class="material-icons">
                        bookmark
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="start" Variant="IconButtonVariant.Flat" class="icon-button" card_calendar-scope>
                    <span class="material-icons">
                        share
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbButton Variant="ButtonVariant.Flat" slot="end" class="button" card_calendar-scope>
                    Play
                    <IgbRipple></IgbRipple>
                </IgbButton>
            </IgbCardActions>
        </IgbCard>
        <IgbCard Outlined="false" class="card-1" card_calendar-scope>
            <IgbCardMedia class="media-content_1" card_calendar-scope>
                <img src="https://www.infragistics.com/angular-demos/assets/images/card/media/ROZES-Under-the-Grave.jpg" class="image" />
            </IgbCardMedia>
            <IgbCardHeader>
                <h3 slot="title">
                    Title goes here...
                </h3>
                <h5 slot="subtitle">
                    Subtitle goes here...
                </h5>
            </IgbCardHeader>
            <IgbCardActions class="actions-content" card_calendar-scope>
                <IgbButton slot="start" class="button" card_calendar-scope>
                    Primary
                    <IgbRipple></IgbRipple>
                </IgbButton>
                <IgbButton Variant="ButtonVariant.Outlined" slot="start" class="button" card_calendar-scope>
                    Secondary
                    <IgbRipple></IgbRipple>
                </IgbButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat" class="icon-button" card_calendar-scope>
                    <span class="material-icons">
                        favorite
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat" class="icon-button" card_calendar-scope>
                    <span class="material-icons">
                        bookmark
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat" class="icon-button" card_calendar-scope>
                    <span class="material-icons">
                        share
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
            </IgbCardActions>
        </IgbCard>
        <IgbCard Outlined="false" class="card-2" card_calendar-scope>
            <div class="group_1">
                <IgbCardHeader>
                    <h3 slot="title">
                        Title goes here...
                    </h3>
                    <h5 slot="subtitle">
                        Subtitle goes here...
                    </h5>
                </IgbCardHeader>
            </div>
            <IgbCardMedia class="media-content_2" card_calendar-scope>
                <img src="https://www.infragistics.com/angular-demos/assets/images/card/media/ROZES-Under-the-Grave.jpg" class="image" />
            </IgbCardMedia>
        </IgbCard>
        <IgbCard Outlined="false" class="card-11" card_calendar-scope>
            <IgbCardHeader>
                <h3 slot="title">
                    Rozes
                </h3>
                <h5 slot="subtitle">
                    Under the grave (2016)
                </h5>
            </IgbCardHeader>
            <IgbCardActions class="actions-content" card_calendar-scope>
                <IgbIconButton slot="start" Variant="IconButtonVariant.Flat" class="icon-button" card_calendar-scope>
                    <span class="material-icons">
                        favorite
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="start" Variant="IconButtonVariant.Flat" class="icon-button" card_calendar-scope>
                    <span class="material-icons">
                        bookmark
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbButton Variant="ButtonVariant.Flat" slot="end" class="button" card_calendar-scope>
                    Play
                    <IgbRipple></IgbRipple>
                </IgbButton>
                <IgbButton Variant="ButtonVariant.Flat" slot="end" class="button" card_calendar-scope>
                    Button
                    <IgbRipple></IgbRipple>
                </IgbButton>
            </IgbCardActions>
        </IgbCard>
        <IgbCard Outlined="false" class="card-3" card_calendar-scope>
            <div class="group_2">
                <div class="row-layout">
                    <IgbCardHeader>
                        <div slot="thumbnail">
                            <IgbCardMedia class="media-content_3" card_calendar-scope>
                                <img src="https://www.infragistics.com/angular-demos/assets/images/card/media/ROZES-Under-the-Grave.jpg" />
                            </IgbCardMedia>
                        </div>
                        <h3 slot="title">
                            Rozes
                        </h3>
                        <h5 slot="subtitle">
                            Under the grave (2016)
                        </h5>
                    </IgbCardHeader>
                </div>
                <IgbCardContent class="body-content" card_calendar-scope>
                    <div class="column-layout column-layout-2">
                        <p class="typography__body-2 text-2">
                            As I have always said: I write what’s real and what’s true, even if it means throwing myself under the bus....
                        </p>
                    </div>
                </IgbCardContent>
            </div>
            <span class="divider">Divider not yet available in Blazor</span>
            <IgbCardActions class="igx-card-actions--justify actions-content_1" card_calendar-scope>
                <span slot="end" class="material-icons icon">
                    skip_previous
                </span>
                <span slot="end" class="material-icons icon">
                    play_circle
                </span>
                <span slot="end" class="material-icons icon">
                    skip_next
                </span>
            </IgbCardActions>
        </IgbCard>
        <IgbCard Outlined="false" class="card-5" card_calendar-scope>
            <div class="group_2">
                <div class="row-layout">
                    <IgbCardHeader>
                        <div slot="thumbnail">
                            <IgbCardMedia class="media-content_3" card_calendar-scope>
                                <img src="https://www.infragistics.com/angular-demos/assets/images/card/media/ROZES-Under-the-Grave.jpg" />
                            </IgbCardMedia>
                        </div>
                        <h3 slot="title">
                            Rozes
                        </h3>
                        <h5 slot="subtitle">
                            Under the grave (2016)
                        </h5>
                    </IgbCardHeader>
                </div>
                <IgbCardContent class="body-content" card_calendar-scope>
                    <div class="row-layout column-layout-3">
                        <p class="typography__body-2 text-3">
                            Rate this album
                        </p>
                        <IgbRating Value="@_value" Change="@(e => _value = e.Detail)" class="rating" card_calendar-scope></IgbRating>
                    </div>
                </IgbCardContent>
            </div>
            <span class="divider">Divider not yet available in Blazor</span>
        </IgbCard>
    </div>
    <div class="column-layout group_3">
        <IgbDatePicker Label="Date" @bind-Value="@_selectedDate" SelectedValueChanged="DatePickerSelectedValueChanged" class="date-picker" card_calendar-scope></IgbDatePicker>
        <div class="row-layout group_4">
            <IgbCalendar WeekStart="WeekDays.Tuesday" @bind-Value="@_selectedDate" HideHeader="true" HeaderOrientation="CalendarHeaderOrientation.Horizontal" class="calendar" card_calendar-scope></IgbCalendar>
            <IgbCalendar @bind-Value="@_selectedDate" HideHeader="false" class="calendar" card_calendar-scope></IgbCalendar>
            <IgbCalendar @bind-Value="@_selectedDate" HideHeader="false" HeaderOrientation="CalendarHeaderOrientation.Vertical" class="calendar" card_calendar-scope></IgbCalendar>
            <IgbCalendar @bind-Value="@_selectedDate" ShowWeekNumbers="true" VisibleMonths="2" HideHeader="false" class="calendar" card_calendar-scope></IgbCalendar>
        </div>
    </div>
</div>

@code {
    private DateTime? _selectedDate = 2024-08-12T00:00;
    private double _value = 4;

    public void DatePickerSelectedValueChanged(IgbSelectedValueChangedEventArgs e)
    {
        this._selectedDate = (DateTime)e.NewValue;
    }
}
